@font-face {
    font-family: myfont;
    src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: myfont;
}
.container{
    width: 50%;
    margin:80px auto;
    display: flex;
}
.col-1{
    background-color: hsl(252, 100%, 67%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    text-align:center;
    padding-top:30px;
    color: hsl(241, 100%, 89%);
}

.circle{
    background-color:  hsla(256, 77%, 51%, 0.8);
    padding:50px 60px;
    margin:2em;
    border-radius: 360px;
    background:linear-gradient(to bottom,rgb(34, 11, 97), hsla(241, 72%, 46%, 0));
}
.title{
    font-size: 30px;
    color:white;
    font-weight: 700;
}
.paragraph{
    padding:10px 30px;
    font-size: 14px;
}
.col-2{
    padding-top:30px;
    padding-left:20px;
    padding-right:10px;
    display: flex;
    flex:1;
    flex-direction: column;
    box-shadow: 2px 2px 2px hsl(241, 100%, 89%);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.padding{
    padding-bottom: 10px;
    color: hsl(224, 30%, 27%);
}
.card{
    display: flex;
    justify-content: space-between;
    margin:7px;
    margin-left:0;
    border-radius: 10px;
    padding:1em;
}
.card img{
    width: 15px;
}
.color{
 color: hsl(241, 100%, 89%);
}
.black{
    color: hsl(224, 30%, 27%);
}
.color-red{
    background-color: hsla(0, 100%, 67%,0.1);
    color:hsl(0, 100%, 67%)
}
.color-yellow{
    background-color: hsla(39, 100%, 56%,0.1);
    color:hsl(39, 100%, 56%);

}

.color-green{
    background-color:hsla(166, 100%, 37%,0.1);
    color:hsl(166, 100%, 37%);
}
.color-blue{
    background-color:hsla(234, 85%, 45%,0.1) ;
    color:hsl(234, 85%, 45%);
}
button{
    margin:20px 1em;
    border-style: none;
    background-color: hsl(224, 30%, 27%);
    border-radius: 30px;
    padding:1em;
    color:white
}
button:hover{
    background-color:  hsl(256, 77%, 51%);
}
@media (max-width:599px) {
    .container-1{
        display: block;
        width: 100%;
        margin-top:0;
    }
    .row-2{
        border-bottom-right-radius:10px ;
        border-bottom-left-radius: 10px;
        border-top-right-radius:0px ;
        border-top-right-radius:00px ;
        box-shadow:2px 2px white;

    }
}
@media (min-width:600px) and (max-width:800px) {
    .med{
        width: 80%;
    }
}
